<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <app-info-card iconName="group" [count]="10" text="Всего студентов" color="#1e88e5"></app-info-card>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <app-info-card iconName="group" [count]="8" text="Студентов сегодня" color="#ffb22b"></app-info-card>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <app-info-card iconName="group" [count]="7" text="Студентов сейчас" color="#7460ee"></app-info-card>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <app-info-card  iconName="group" [count]="1" text="Пользователей онлайн" color="#fc4b6c"></app-info-card>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6"></div>
    </div>
</div>